---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.layout--single {
  background-color: #fafafa;
}

/* Masthead */
.masthead {
  background-color: #f2f2f2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}

.masthead * {
  background-color: #f2f2f2;
}

.author__avatar img {
  max-width: 200px; /* Default is 110px. Adjust this value to your liking */
  width: 100%;      /* Ensures the image scales down properly on mobile */
}

/* 2. Add a Background to the Author Profile */
.h-card {
  background-color: #f2f2f2; /* Light gray background. Change hex code as needed */
  padding: 1em;            /* Adds breathing room inside the background box */
  border-radius: 8px;        /* Rounds the corners of the background box */
  
  /* Optional: Adds a subtle shadow for depth */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}


/* Footer */
.page__footer {
  margin-top: 0em;
  background-color: #f2f2f2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}

.page__footer * {
  background-color: #f2f2f2;
}

.page__footer footer {
  margin-top: 1em;
  padding: 0 1em 1em;
}